.container-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    background-color: #f8d7da;
}
    
.card-error {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    color: #721c24;
    margin-bottom: 20px;
}

.text {
    color: #721c24;
    margin-bottom: 30px;
}

.btn-back {
    padding: 10px 20px;
    background-color: #f5c6cb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #721c24;
    font-weight: bold;
}